In [1]:
%cd C:\Users\itaye\Desktop\pdexplain\pd-explain\src

C:\Users\itaye\Desktop\pdexplain\pd-explain\src

C:\Users\itaye\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
import pandas as pd
import pd_explain

C:\Users\itaye\AppData\Local\Temp\ipykernel_9632\2046952530.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

usetex-False

In [4]:
spotify_all = (pd.read_csv(r"C:\Users\itaye\Desktop\pdexplain\pd-explain\Examples\Datasets\spotify_all.csv"))

In [42]:
popular_artists = spotify_all[(spotify_all.popularity>80)][['main_artist','popularity']].drop_duplicates(subset=['main_artist']).set_index('main_artist')

In [43]:
popular_artists

                  popularity
main_artist
Bobby Helms               85
Dean Martin               84
Nat King Cole             81
Andy Williams             85
The Ronettes              82
...                      ...
Kevin Roldan              81
Christian Nodal           81
Cali Y El Dandee          83
Nea                       82
Flow La Movie             81

[246 rows x 1 columns]

In [41]:
acoustic_artists = spotify_all[(spotify_all.acousticness>0.9)][['main_artist', 'acousticness']].drop_duplicates(subset=['main_artist']).set_index('main_artist')
acoustic_artists

                               acousticness
main_artist
Mamie Smith                           0.991
Mamie Smith & Her Jazz Hounds         0.996
Francisco Canaro                      0.996
Dorville                              0.952
Ka Koula                              0.992
...                                     ...
Felix Hertzog                         0.938
Pop Smoke                             0.907
Edith Whiskers                        0.982
Last Year's Man                       0.926
The People's Love Cult                0.936

[5977 rows x 1 columns]

In [49]:
popular_acoustic_artists = popular_artists.join(acoustic_artists).dropna().index

In [50]:
popular_acoustic_artists

Index(['Dean Martin', 'Nat King Cole', 'Andy Williams', 'Brenda Lee',
       'The Beatles', 'Elton John', 'Lynyrd Skynyrd', 'Eagles',
       'Fleetwood Mac', 'Paul McCartney', 'TOTO', 'Michael Jackson',
       'The Police', 'Grover Washington, Jr.', 'Whitney Houston', 'R.E.M.',
       'Mariah Carey', 'Frank Sinatra', 'Coldplay', 'Eminem',
       'The White Stripes', 'Gorillaz', 'Shakira', 'Rihanna', 'John Lennon',
       'Justin Bieber', 'Michael Bublé', 'Bruno Mars', 'John Legend',
       'Kodaline', 'Ariana Grande', 'Sam Smith', 'Ed Sheeran', 'The Weeknd',
       'Twenty One Pilots', 'XXXTENTACION', 'Frank Ocean', 'NF',
       'Kendrick Lamar', 'Erik Eriksson', 'Billie Eilish', 'Joji', 'Drake',
       'Panic! At The Disco', 'Calum Scott', 'Halsey', 'Jeremy Zucker',
       'Clairo', 'Lewis Capaldi', 'Pop Smoke', 'Maroon 5', 'Labrinth',
       'Bad Bunny', 'Taylor Swift', 'Tate McRae', 'Kid Cudi', 'ZAYN',
       '347aidan', 'Pink Sweat$'],
      dtype='object', name='main_artist')

In [23]:
popular_artists.describe()

count              11
unique             11
top       Dean Martin
freq                1
Name: main_artist, dtype: object